<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ task.title }}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="cards">
        <div class="card">
            <h1>{{ task.title }}</h1>
            <p>{{ task.description }}</p>
            <a href="#">Geri Dön</a>
        </div>
        <div class="card">
            <h1>{{ task.title }}</h1>
            <p>{{ task.description }}</p>
            <a href="#">Geri Dön</a>
        </div>
        <div class="card">
            <h1>{{ task.title }}</h1>
            <p>{{ task.description }}</p>
            <a href="#">Geri Dön</a>
        </div>
        <div class="card">
            <h1>{{ task.title }}</h1>
            <p>{{ task.description }}</p>
            <a href="#">Geri Dön</a>
        </div>
    </div>
</body>
</html>