<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <a href="{{ url_for('todo.create_task') }}">+ Görev Ekle</a>
    <div>
        {% for todo in todos %}
            <div>
                <h2>{{ todo.title }}</h2>
                <p>{{ todo.task }}</p>
                <a href="{{ url_for('todo.task_detail', id=todo.id) }}">Detaylar</a>
                <a href="{{ url_for('todo.delete_task', id=todo.id) }}">Sil</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
